In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os 
import gc
from tqdm import tqdm, tqdm_notebook
from scipy.stats import skew  # for some statistics
from scipy.special import boxcox1p
from scipy.stats import boxcox_normmax
from sklearn.linear_model import ElasticNetCV, LassoCV, RidgeCV
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.svm import SVR
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import RobustScaler
from sklearn.model_selection import KFold, cross_val_score, StratifiedKFold
from sklearn.metrics import mean_squared_error, f1_score, roc_auc_score
from mlxtend.regressor import StackingCVRegressor
import datetime
import time
import lightgbm as lgb
import xgboost as xgb
from xgboost import XGBRegressor

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.filterwarnings('ignore')

pd.set_option('display.max_rows',None)
pd.set_option('display.max_columns',None)
%matplotlib inline

In [3]:
data=pd.read_csv('../mid_data/data_rolling.csv')

In [6]:
data.head()

,adcode,bodyType,id,model,regMonth,regYear,popularity,carCommentVolum,newsReplyVolum,label,province_rank,date_block_num,class_id,ad_model,total_sale_last1M,total_last12M_sum,total_last12M_mean,sale_last1M,sale_last1M_sum,sale_last2M_sum,sale_last3M_sum,sale_last6M_sum,sale_last12M_sum,sale_last2M_mean,sale_last3M_mean,sale_last6M_mean,sale_last12M_mean,sale_last2M_std,sale_last3M_std,sale_last6M_std,sale_last12M_std,sale_last2M_max,sale_last3M_max,sale_last6M_max,sale_last12M_max
0,310000,SUV,0,3c974920a76ac9c1,1,2016,1479.0,11.0,106.0,292.0,3,1,0,0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,310000,SUV,0,3c974920a76ac9c1,2,2016,2355.0,6.0,2255.0,134.0,3,2,0,0,548.416667,0.0,0.0,292.0,292.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,310000,SUV,0,3c974920a76ac9c1,3,2016,1794.0,13.0,861.0,323.0,3,3,0,0,191.833333,0.0,0.0,134.0,134.0,426.0,NaN,NaN,NaN,213.0,NaN,NaN,NaN,111.722871,NaN,NaN,NaN,292.0,NaN,NaN,NaN
3,310000,SUV,0,3c974920a76ac9c1,4,2016,1260.0,16.0,105.0,266.0,3,4,0,0,412.550000,0.0,0.0,323.0,323.0,457.0,749.0,NaN,NaN,228.5,249.666667,NaN,NaN,133.643182,101.362386,NaN,NaN,323.0,323.0,NaN,NaN
4,310000,SUV,0,3c974920a76ac9c1,5,2016,1148.0,28.0,2107.0,271.0,3,5,0,0,370.583333,0.0,0.0,266.0,266.0,589.0,723.0,NaN,NaN,294.5,241.000000,NaN,NaN,40.305087,96.948440,NaN,NaN,323.0,323.0,NaN,NaN